<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189786202860-vfli07a51rtj0bq33vl4r1tb183tr8sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189786202860-vfli07a51rtj0bq33vl4r1tb183tr8sr</string>
	<key>API_KEY</key>
	<string>AIzaSyCGpClaXmG9FNA88kB0a9DsGr7cGfMO4qk</string>
	<key>GCM_SENDER_ID</key>
	<string>189786202860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitchbaumgartner.RiseAndGrind</string>
	<key>PROJECT_ID</key>
	<string>riseandgrind-93299</string>
	<key>STORAGE_BUCKET</key>
	<string>riseandgrind-93299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189786202860:ios:b9fac89cd13ac06a7d7bc9</string>
</dict>
</plist>